/* style about page  */
.articl1{
    margin-top:110px;
    width: 100%;
   display: flex;
}
.p1{
width: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.p1 img{
    width: 450px;
}
.p2{
    width: 50%;
}



.map_section{
  
   height: 100vh;
   width: 100%; 
   display: flex;
   justify-content: center;
   align-items: center;
}

.map{
    height: 60vh;
    width: 80%; 
}