.total_cal{
    margin-top: 100px;
    height:50000px ;
    margin-left: 10px;
    margin-left: 10px;


}

.total_novel{
    margin-top: 89px;
    height:9000px ;
    background-color: rgb(255, 55, 0);
}








p
