@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Poppins:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


body,
html {
    font-family: 'Bai Jamjuree', sans-serif, 'Poppins', sans-serif;
    padding-top: 60px;
    margin: 0;
    padding: 0;
}


/*global tags */

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.2rem;
    color: rgb(24, 24, 49);
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

nav img {
    width: 150px;
    cursor: pointer;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
    position: relative;
}

nav .navigation ul li::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(233, 137, 27);
    transition: width 0.3s ease;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav .navigation ul li:hover::after {
    width: 100%;
}

nav .navigation ul li a:hover {
    color: rgb(233, 137, 27);
}

.butt1 {
    background-color: transparent;
    color: rgb(233, 137, 27);
    border: 2px solid rgb(233, 137, 27);
    width: 110px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 20px;
}

.butt1:hover {
    background-color: rgb(233, 137, 27);
    color: white;
}

.login {
    text-decoration: none;
    color: rgb(233, 137, 27);
}

.login:hover {
    color: #fff;
}






/* Home */
.text {
    width: 450px;
    height: 280px;
    background: linear-gradient(to right, rgba(255, 236, 236, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 245, 245, 0.5));
    animation: flowBackground 20s linear infinite;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes flowBackground {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}




#acceuil {
    position: relative;
    width: 100%;
    height: 550px;
    background-color: transparent;
    background-image: url('/images/img1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

#acceuil h2 {

    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#acceuil p {

    font-size: 1rem;
    margin-bottom: 30px;
}

.but1 {
    background-color: transparent;
    color: rgb(233, 137, 27);
    border: 2px solid rgb(233, 137, 27);
    width: 100px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 20px;

}

.but1:hover {
    background-color: rgb(233, 137, 27);
    color: white;
    border: rgb(255, 255, 255);
}


.but2 {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    width: 100px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 20px;
}

.but2:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}


.btn-left,
.btn-right {
    color: rgb(233, 137, 27);
    border: 1px solid rgb(233, 137, 27);
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    transition: filter 0.3s ease;
    width: 40px;
    height: 40px;

}


#acceuil .btn-left:hover,
#acceuil .btn-right:hover {
    filter: brightness(1.3);
    background-color: rgb(233, 137, 27);
    color: white;
}

#acceuil .btn-left {
    left: 20px;
}

#acceuil .btn-right {
    right: 20px;

}

.hh {
    height: 1000px;
}


/* caractéristiques */





#caracter {
    padding: 5vw 8vw 0 8vw;
    text-align: center;

}

#caracter .carac-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;


}


#caracter .fea-box {
    background-color: rgb(240, 230, 219);
    text-align: start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#caracter .fea-box i {
    font-size: 2.3rem;
    color: black;
}

#caracter .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    padding: 13px 0 7px 0;

}

#caracter .fea-box p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(46, 46, 59)
}

/* filiers  */

#filiere {
    padding: 5vw 8vw;
    text-align: center;

}

#filiere h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#filiere p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.filiers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 20px;

}

.filier-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.filier-box .imaf {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-bottom: 4px solid rgb(233, 137, 27);
}

.filier-box .details {
    margin-top: 4px;
    padding: 10px;
    text-align: left;
}

.filier-box h6 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.filier-box p {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.5;
}

.filier-box i {
    font-size: 1.5rem;
    margin-right: 5px;
    color: rgb(233, 137, 27);
}





/*slid++++++++++++++*/

#Home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#Home h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

#Home p {
    font-size: 1rem;
    margin-top: 17px;
    margin-bottom: 10px;
}

.mySlides:first-child {
    display: block;
}




.slideshow-container {
    position: relative;
    width: 100%;
    height: 300px;
    background-color:rgb(240, 230, 219);
    display: flex;
    justify-content: center;
    align-items: center;


}


.mySlides {
    
    display: none;
    text-align: center;
    padding: 20px;
    width: 870px;
    height: 250px;
    background-color: rgb(240, 230, 219);

}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    padding: 10px;
    margin-top: 10px;
    color: black;
    background-color: #ffffff;
    font-size: 30px;
    transition: 1s ease;
    border: 1px solid;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 4rem;
   background-color: transparent;
}


.prev {
    left: 30px;
}

.next {
    right: 30px;
}

.rows {
    font-size: 4rem;
}

/* Button hover effect */
.prev:hover,
.next:hover {
  
    color: rgb(233, 137, 27);
}

/* Style the navigation dots */
.dot {
    height: 15px;
    width: 11px;
    margin: 0 2px;
    background-color: rgb(221, 221, 221);
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.active {
    background-color: rgb(0, 0, 0)
}

.user {
    color: rgb(0, 0, 0);
    font-size: 4rem;
}
